<!doctype html>
{% extends "rest_framework/base.html" %}
{% load static %}
{% load i18n %}
{% load app_tags %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Edit webapp/settings.py and add APP_NAME = 'WebAppName' or similar -->
    <title>{% block title %}API{% endblock %}</title>
  </head>
{% block branding %}
    <a class="navbar-brand" rel="nofollow" href="/">
        {% trans 'WMS API' %}
    </a>
{% endblock %}
